html, body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f0efe9;
  color: #4f5364;
  font-family: 'trebuchet ms';
}

main {
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto 0 auto;
}

header {
  height: 10vh;
  margin-top: 40px;
  /* font-family: 'arial rounded mt bold'; */
}

.input-section {
  height: 10vh;
  margin: 0 auto 50px auto;
}

.todoList {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(1fr, auto));
  grid-auto-rows: minmax(40px, auto);

  margin-top: 50px;
  margin-bottom: 80px;
}

.working-section > h2 {
  width: 100px;
  height: 20px;
  line-height: 60%;
  margin: 0 auto 0 auto;
  background-color: #FF9B9B;
}

.done-section > h2 {
  width: 100px;
  height: 20px;
  line-height: 60%;
  margin: 0 auto 50px auto;
  background-color: #50e3a4;
}

